In [2]:
import numpy as np
#Create a vector
vector = np.array([10,20,30])
#Create a matrix
matrix = np.array([[5,10,15],[20,25,30],[35,40,45]])

In [3]:
vector_shape = vector.shape
matrix_shape = matrix.shape

print(vector_shape)
print(matrix_shape)

(3,)
(3, 3)

In [4]:
#Read csv file with genfromtxt()
world_alcohol = np.genfromtxt("world_alcohol.csv", delimiter = ',')

print(type(world_alcohol))
print(world_alcohol)

<class 'numpy.ndarray'>
[[      nan       nan       nan       nan       nan]
 [1.986e+03       nan       nan       nan 0.000e+00]
 [1.986e+03       nan       nan       nan 5.000e-01]
 ...
 [1.986e+03       nan       nan       nan 2.540e+00]
 [1.987e+03       nan       nan       nan 0.000e+00]
 [1.986e+03       nan       nan       nan 5.150e+00]]

In [5]:
print(world_alcohol.dtype) #print the data type of world_alcohol

float64

In [7]:
#dealing with nan and weird numbers
world_alcohol = np.genfromtxt('world_alcohol.csv', delimiter = ',', dtype = 'U75', skip_header = 1)
print(world_alcohol)

[['1986' 'Western Pacific' 'Viet Nam' 'Wine' '0']
 ['1986' 'Americas' 'Uruguay' 'Other' '0.5']
 ['1985' 'Africa' "Cte d'Ivoire" 'Wine' '1.62']
 ...
 ['1986' 'Europe' 'Switzerland' 'Spirits' '2.54']
 ['1987' 'Western Pacific' 'Papua New Guinea' 'Other' '0']
 ['1986' 'Africa' 'Swaziland' 'Other' '5.15']]

In [8]:
#Indexing and Slicing
#row=2, col=5
print(world_alcohol[1,4])
#row=3, col=3
print(world_alcohol[2,2])
# : -> all rows | all columns
countries = world_alcohol[:,2] # 2nd columns in all rows 
alcohol_consumption = world_alcohol[:,4] #4th columns in all rows

print(countries)
print(alcohol_consumption)

#first two columns of all rows
first_two_columns = world_alcohol[:, 0:2]
#first ten columns of all rows
first_ten_columns = world_alcohol[0:10, 0]
#first ten rows 
first_ten_rows = world_alcohol[0:10, :]

print(first_two_columns)
print(first_ten_columns)
print(first_ten_rows)

0.5
Cte d'Ivoire
['Viet Nam' 'Uruguay' "Cte d'Ivoire" ... 'Switzerland' 'Papua New Guinea'
 'Swaziland']
['0' '0.5' '1.62' ... '2.54' '0' '5.15']
[['1986' 'Western Pacific']
 ['1986' 'Americas']
 ['1985' 'Africa']
 ...
 ['1986' 'Europe']
 ['1987' 'Western Pacific']
 ['1986' 'Africa']]
['1986' '1986' '1985' '1986' '1987' '1987' '1987' '1985' '1986' '1984']
[['1986' 'Western Pacific' 'Viet Nam' 'Wine' '0']
 ['1986' 'Americas' 'Uruguay' 'Other' '0.5']
 ['1985' 'Africa' "Cte d'Ivoire" 'Wine' '1.62']
 ['1986' 'Americas' 'Colombia' 'Beer' '4.27']
 ['1987' 'Americas' 'Saint Kitts and Nevis' 'Beer' '1.98']
 ['1987' 'Americas' 'Guatemala' 'Other' '0']
 ['1987' 'Africa' 'Mauritius' 'Wine' '0.13']
 ['1985' 'Africa' 'Angola' 'Spirits' '0.39']
 ['1986' 'Americas' 'Antigua and Barbuda' 'Spirits' '1.55']
 ['1984' 'Africa' 'Nigeria' 'Other' '6.1']]

In [9]:
#A few comptutation

#Comparison and boolean array
countries_canada = (world_alcohol[:,2] == 'Canada')
years_1984 = (world_alcohol[:,0] == '1984')

print(countries_canada)
print(years_1984)

country_is_algeria = (world_alcohol[:,2] == 'Algeria')
country_algeria = world_alcohol[country_is_algeria, :]

print(country_is_algeria)
print(country_algeria)

#multiple comaprison
is_algeria_and_1986 = (world_alcohol[:,0] == '1986') & (world_alcohol[:,2] == 'Algeria')
rows_with_algeria_and_1986 = world_alcohol[is_algeria_and_1986]

print(rows_with_algeria_and_1986)

#use comparison to replace the values in an array
#world_alcohol[:,0][world_alcohol[:,0] == '1986'] = '2014'
#world_alcohol[:,3][world_alcohol[:,3] == 'Wine'] = 'Grog'

[False False False ... False False False]
[False False False ... False False False]
[False False False ... False False False]
[['1984' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1987' 'Africa' 'Algeria' 'Beer' '0.17']
 ['1987' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1986' 'Africa' 'Algeria' 'Wine' '0.1']
 ['1984' 'Africa' 'Algeria' 'Other' '0']
 ['1989' 'Africa' 'Algeria' 'Beer' '0.16']
 ['1989' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1989' 'Africa' 'Algeria' 'Wine' '0.23']
 ['1986' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1984' 'Africa' 'Algeria' 'Wine' '0.12']
 ['1985' 'Africa' 'Algeria' 'Beer' '0.19']
 ['1985' 'Africa' 'Algeria' 'Other' '0']
 ['1986' 'Africa' 'Algeria' 'Beer' '0.18']
 ['1985' 'Africa' 'Algeria' 'Wine' '0.11']
 ['1986' 'Africa' 'Algeria' 'Other' '0']
 ['1989' 'Africa' 'Algeria' 'Other' '0']
 ['1987' 'Africa' 'Algeria' 'Other' '0']
 ['1984' 'Africa' 'Algeria' 'Beer' '0.2']
 ['1985' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1987' 'Africa' 'Algeria' 'Wine' '0.1']]
[['1986' 'Africa' 'Algeria' 'Wine' '0.1']
 ['1986' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1986' 'Africa' 'Algeria' 'Beer' '0.18']
 ['1986' 'Africa' 'Algeria' 'Other' '0']]

In [10]:
#Dealing with nan for numerical calculation
is_value_empty = world_alcohol[:,4] == ''
world_alcohol[is_value_empty,4] = '0'

#type change
alcohol_consumption = world_alcohol[:,4]
alcohol_consumption = alcohol_consumption.astype(float)

#a few numerial functions 
#sum(), mean(), max()
total_alcohol = alcohol_consumption.sum()
average_alcohol = alcohol_consumption.mean()

#Exercise
is_canada_1986 = (world_alcohol[:,2] == "Canada") & (world_alcohol[:,0] == '1986')
canada_1986 = world_alcohol[is_canada_1986]
canada_alcohol = canada_1986[:,4]
empty = canada_alcohol == ''
canada_alcohol[empty]='0'

canada_alcohol = canada_alcohol.astype(float)
total_canadian_drinking = canada_alcohol.sum()

print(total_canadian_drinking)

9.31