In [1]:
import pandas as pd
#read a csv file
food_info = pd.read_csv("food_info.csv")
print(type(food_info)) # food_info = a data frame

<class 'pandas.core.frame.DataFrame'>

In [2]:
first_twenty = food_info.head(20)
print(first_twenty)
dimensions = food_info.shape
print(dimensions) # (row, col)
num_rows = dimensions[0]
num_cols = dimensions[1]

print(num_rows)
print(num_cols)

    NDB_No                                         Shrt_Desc  Water_(g)  \
0     1001                                  BUTTER WITH SALT      15.87
1     1002                          BUTTER WHIPPED WITH SALT      15.87
2     1003                              BUTTER OIL ANHYDROUS       0.24
3     1004                                       CHEESE BLUE      42.41
4     1005                                      CHEESE BRICK      41.11
5     1006                                       CHEESE BRIE      48.42
6     1007                                  CHEESE CAMEMBERT      51.80
7     1008                                    CHEESE CARAWAY      39.28
8     1009                                    CHEESE CHEDDAR      37.10
9     1010                                   CHEESE CHESHIRE      37.65
10    1011                                      CHEESE COLBY      38.20
11    1012               CHEESE COTTAGE CRMD LRG OR SML CURD      79.79
12    1013                       CHEESE COTTAGE CRMD W/FRUIT      79.64
13    1014  CHEESE COTTAGE NONFAT UNCRMD DRY LRG OR SML CURD      81.01
14    1015                  CHEESE COTTAGE LOWFAT 2% MILKFAT      81.24
15    1016                  CHEESE COTTAGE LOWFAT 1% MILKFAT      82.48
16    1017                                      CHEESE CREAM      54.44
17    1018                                       CHEESE EDAM      41.56
18    1019                                       CHEESE FETA      55.22
19    1020                                    CHEESE FONTINA      37.92

    Energ_Kcal  Protein_(g)  Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  \
0          717         0.85          81.11     2.11            0.06
1          717         0.85          81.11     2.11            0.06
2          876         0.28          99.48     0.00            0.00
3          353        21.40          28.74     5.11            2.34
4          371        23.24          29.68     3.18            2.79
5          334        20.75          27.68     2.70            0.45
6          300        19.80          24.26     3.68            0.46
7          376        25.18          29.20     3.28            3.06
8          406        24.04          33.82     3.71            1.33
9          387        23.37          30.60     3.60            4.78
10         394        23.76          32.11     3.36            2.57
11          98        11.12           4.30     1.41            3.38
12          97        10.69           3.85     1.20            4.61
13          72        10.34           0.29     1.71            6.66
14          81        10.45           2.27     1.27            4.76
15          72        12.39           1.02     1.39            2.72
16         342         5.93          34.24     1.32            4.07
17         357        24.99          27.80     4.22            1.43
18         264        14.21          21.28     5.20            4.09
19         389        25.60          31.14     3.79            1.55

    Fiber_TD_(g)  Sugar_Tot_(g)       ...        Vit_A_IU  Vit_A_RAE  \
0            0.0           0.06       ...          2499.0      684.0
1            0.0           0.06       ...          2499.0      684.0
2            0.0           0.00       ...          3069.0      840.0
3            0.0           0.50       ...           721.0      198.0
4            0.0           0.51       ...          1080.0      292.0
5            0.0           0.45       ...           592.0      174.0
6            0.0           0.46       ...           820.0      241.0
7            0.0            NaN       ...          1054.0      271.0
8            0.0           0.28       ...           994.0      263.0
9            0.0            NaN       ...           985.0      233.0
10           0.0           0.52       ...           994.0      264.0
11           0.0           2.67       ...           140.0       37.0
12           0.2           2.38       ...           146.0       38.0
13           0.0           1.85       ...             8.0        2.0
14           0.0           4.00       ...           225.0       68.0
15           0.0           2.72       ...            41.0       11.0
16           0.0           3.21       ...          1343.0      366.0
17           0.0           1.43       ...           825.0      243.0
18           0.0           4.09       ...           422.0      125.0
19           0.0           1.55       ...           913.0      261.0

    Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  Vit_K_(mcg)  FA_Sat_(g)  FA_Mono_(g)  \
0         2.32        1.5      60.0          7.0      51.368       21.021
1         2.32        1.5      60.0          7.0      50.489       23.426
2         2.80        1.8      73.0          8.6      61.924       28.732
3         0.25        0.5      21.0          2.4      18.669        7.778
4         0.26        0.5      22.0          2.5      18.764        8.598
5         0.24        0.5      20.0          2.3      17.410        8.013
6         0.21        0.4      18.0          2.0      15.259        7.023
7          NaN        NaN       NaN          NaN      18.584        8.275
8         0.78        0.6      24.0          2.9      19.368        8.428
9          NaN        NaN       NaN          NaN      19.475        8.671
10        0.28        0.6      24.0          2.7      20.218        9.280
11        0.08        0.1       3.0          0.0       1.718        0.778
12        0.04        0.0       0.0          0.4       2.311        1.036
13        0.01        0.0       0.0          0.0       0.169        0.079
14        0.08        0.0       0.0          0.0       1.235        0.516
15        0.01        0.0       0.0          0.1       0.645        0.291
16        0.29        0.6      25.0          2.9      19.292        8.620
17        0.24        0.5      20.0          2.3      17.572        8.125
18        0.18        0.4      16.0          1.8      14.946        4.623
19        0.27        0.6      23.0          2.6      19.196        8.687

    FA_Poly_(g)  Cholestrl_(mg)
0         3.043           215.0
1         3.012           219.0
2         3.694           256.0
3         0.800            75.0
4         0.784            94.0
5         0.826           100.0
6         0.724            72.0
7         0.830            93.0
8         1.433           102.0
9         0.870           103.0
10        0.953            95.0
11        0.123            17.0
12        0.124            13.0
13        0.003             7.0
14        0.083            12.0
15        0.031             4.0
16        1.437           110.0
17        0.665            89.0
18        0.591            89.0
19        1.654           116.0

[20 rows x 36 columns]
(8618, 36)
8618
36

In [3]:
#loc[] use 
#to select rows by row labels 

hundredth_row = food_info.loc[99]
print(hundredth_row)

#dtypes -> represents data type of each column of a dataframe
print(food_info.dtypes)

NDB_No                                  1111
Shrt_Desc          MILK SHAKES THICK VANILLA
Water_(g)                              74.45
Energ_Kcal                               112
Protein_(g)                             3.86
Lipid_Tot_(g)                           3.03
Ash_(g)                                 0.91
Carbohydrt_(g)                         17.75
Fiber_TD_(g)                               0
Sugar_Tot_(g)                          17.75
Calcium_(mg)                             146
Iron_(mg)                                0.1
Magnesium_(mg)                            12
Phosphorus_(mg)                          115
Potassium_(mg)                           183
Sodium_(mg)                               95
Zinc_(mg)                               0.39
Copper_(mg)                            0.051
Manganese_(mg)                         0.014
Selenium_(mcg)                           2.3
Vit_C_(mg)                                 0
Thiamin_(mg)                            0.03
Riboflavin_(mg)                        0.195
Niacin_(mg)                            0.146
Vit_B6_(mg)                            0.042
Vit_B12_(mcg)                           0.52
Vit_A_IU                                  91
Vit_A_RAE                                 25
Vit_E_(mg)                              0.05
Vit_D_mcg                                1.2
Vit_D_IU                                  48
Vit_K_(mcg)                              0.2
FA_Sat_(g)                             1.886
FA_Mono_(g)                            0.875
FA_Poly_(g)                            0.113
Cholestrl_(mg)                            12
Name: 99, dtype: object
NDB_No               int64
Shrt_Desc           object
Water_(g)          float64
Energ_Kcal           int64
Protein_(g)        float64
Lipid_Tot_(g)      float64
Ash_(g)            float64
Carbohydrt_(g)     float64
Fiber_TD_(g)       float64
Sugar_Tot_(g)      float64
Calcium_(mg)       float64
Iron_(mg)          float64
Magnesium_(mg)     float64
Phosphorus_(mg)    float64
Potassium_(mg)     float64
Sodium_(mg)        float64
Zinc_(mg)          float64
Copper_(mg)        float64
Manganese_(mg)     float64
Selenium_(mcg)     float64
Vit_C_(mg)         float64
Thiamin_(mg)       float64
Riboflavin_(mg)    float64
Niacin_(mg)        float64
Vit_B6_(mg)        float64
Vit_B12_(mcg)      float64
Vit_A_IU           float64
Vit_A_RAE          float64
Vit_E_(mg)         float64
Vit_D_mcg          float64
Vit_D_IU           float64
Vit_K_(mcg)        float64
FA_Sat_(g)         float64
FA_Mono_(g)        float64
FA_Poly_(g)        float64
Cholestrl_(mg)     float64
dtype: object

In [4]:
#multiple columns with loc[]
#choose the rows at index 3,4,5,6
food_info.loc[3:6]

#choose the rows at index 2,5,10
idxs = [2,5,10]
food_info.loc[idxs]
# == food_info.loc[[2,5,10]]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
5,1006,CHEESE BRIE,48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,592.0,174.0,0.24,0.5,20.0,2.3,17.410,8.013,0.826,100.0
10,1011,CHEESE COLBY,38.20,394,23.76,32.11,3.36,2.57,0.0,0.52,...,994.0,264.0,0.28,0.6,24.0,2.7,20.218,9.280,0.953,95.0

In [6]:
#choose a column or columns by the column(s)' name 
ndb_col = food_info["NDB_No"]
print(ndb_col)

print(type(ndb_col))
saturated_fat = food_info["FA_Sat_(g)"]
cholesterol = food_info["Cholestrl_(mg)"]

zinc_copper = food_info[["Zinc_(mg)","Copper_(mg)"]]

columns = ["Zinc_(mg)", "Copper_(mg)"]

zinc_copper = food_info[columns]

selenium_thiamin = food_info[['Selenium_(mcg)','Thiamin_(mg)']]

#getting whole columns
col_list = food_info.columns.tolist()

gram_columns = [c for c in col_list if c.endswith("(g)")]

gram_df = food_info[gram_columns]

gram_df.head(3)

0        1001
1        1002
2        1003
3        1004
4        1005
5        1006
6        1007
7        1008
8        1009
9        1010
10       1011
11       1012
12       1013
13       1014
14       1015
15       1016
16       1017
17       1018
18       1019
19       1020
20       1021
21       1022
22       1023
23       1024
24       1025
25       1026
26       1027
27       1028
28       1029
29       1030
        ...
8588    43544
8589    43546
8590    43550
8591    43566
8592    43570
8593    43572
8594    43585
8595    43589
8596    43595
8597    43597
8598    43598
8599    44005
8600    44018
8601    44048
8602    44055
8603    44061
8604    44074
8605    44110
8606    44158
8607    44203
8608    44258
8609    44259
8610    44260
8611    48052
8612    80200
8613    83110
8614    90240
8615    90480
8616    90560
8617    93600
Name: NDB_No, Length: 8618, dtype: int64
<class 'pandas.core.series.Series'>

,Water_(g),Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g)
0,15.87,0.85,81.11,2.11,0.06,0.0,0.06,51.368,21.021,3.043
1,15.87,0.85,81.11,2.11,0.06,0.0,0.06,50.489,23.426,3.012
2,0.24,0.28,99.48,0.00,0.00,0.0,0.00,61.924,28.732,3.694