In [2]:
import pandas as pd
titanic_survival = pd.read_csv("titanic_survival.csv")

#get age column list
age = titanic_survival["age"]

#get bool list where the ages with null are represented as true
age_is_null = pd.isnull(age)
age_null_true = age[age_is_null]
age_null_count = len(age_null_true)

print(age_null_count)


#filter nan values in df
age_is_null = pd.isnull(age)
age_null_false = titanic_survival["age"][age_is_null == False]

correct_mean_age = sum(age_null_false) / len(age_null_false)

print(correct_mean_age)

264
29.8811345124283

In [4]:
#mean() gives automatic filtering for nan
correct_mean_age = titanic_survival['age'].mean()
correct_mean_fare = titanic_survival['fare'].mean()

print(correct_mean_age)
print(correct_mean_fare)

29.8811345124283
33.29547928134557

In [11]:
#making pivot table
#for each class with fare mean
passenger_classes = [1,2,3]
fares_by_class = dict()

for pc in passenger_classes:
    pclass_rows = titanic_survival[titanic_survival["pclass"]==pc]
    pclass_fare = pclass_rows["fare"]
    fare_mean = pclass_fare.mean()
    fares_by_class[pc] = fare_mean
    
import numpy as np
#using df.pivot_table()
#group and aggregate
passenger_class_fares = titanic_survival.pivot_table(index="pclass", values="fare", aggfunc=np.mean)

passenger_survival = titanic_survival.pivot_table(index='pclass', values = 'survived')

passenger_age = titanic_survival.pivot_table(index='pclass', values = 'age')

print(passenger_class_fares)
print(passenger_survival)
print(passenger_age)

             fare
pclass
1.0     87.508992
2.0     21.179196
3.0     13.302889
        survived
pclass
1.0     0.619195
2.0     0.429603
3.0     0.255289
              age
pclass
1.0     39.159918
2.0     29.506705
3.0     24.816367

In [10]:
#df.pivot_table() with multiple values
port_stats = titanic_survival.pivot_table(index="embarked", values = ["fare", "survived"], aggfunc=np.sum)
print(port_stats)

                fare  survived
embarked
C         16830.7922     150.0
Q          1526.3085      44.0
S         25033.3862     304.0

In [13]:
#df.dropna()

#axis=0 -> drop rows anything with nan
drop_na_rows = titanic_survival.dropna(axis=0)

#axis=1 -> drop columns any with nan
drop_na_cols = titanic_survival.dropna(axis=1)

#multiple columns
new_titanic_survival = titanic_survival.dropna(axis=0,subset=["age",'sex'])
print(new_titanic_survival.head(5))


#iloc[] is not same with loc[]
first_five_rows = new_titanic_survival.iloc[0:5]
first_ten_rows = new_titanic_survival.iloc[0:10]
row_index_25 = new_titanic_survival.iloc[25]
row_position_fifth = new_titanic_survival.iloc[4]

#comparison between iloc and loc
first_r_first_c = new_titanic_survival.iloc[0,0]
all_rows_first_three_cols = new_titanic_survival.iloc[:,0:3]
row_index_83_age = new_titanic_survival.loc[83,"age"]
row_index_766_plcass = new_titanic_survival.loc[766,'pclass']

row_index_1100_age = new_titanic_survival.loc[1100, "age"]
row_index_25_survived = new_titanic_survival.loc[25, "survived"]
five_rows_three_cols = new_titanic_survival.iloc[0:5,0:3]

   pclass  survived                                             name     sex  \
0     1.0       1.0                    Allen, Miss. Elisabeth Walton  female
1     1.0       1.0                   Allison, Master. Hudson Trevor    male
2     1.0       0.0                     Allison, Miss. Helen Loraine  female
3     1.0       0.0             Allison, Mr. Hudson Joshua Creighton    male
4     1.0       0.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

       age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.0000    0.0    0.0   24160  211.3375       B5        S    2    NaN
1   0.9167    1.0    2.0  113781  151.5500  C22 C26        S   11    NaN
2   2.0000    1.0    2.0  113781  151.5500  C22 C26        S  NaN    NaN
3  30.0000    1.0    2.0  113781  151.5500  C22 C26        S  NaN  135.0
4  25.0000    1.0    2.0  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [ ]:
#new_df.reset_index(drop=true)
#titanic_renidexed = new_titanic_survival.reset_index(drop=True)